{% extends "base.html" %}
{% block title %} {% if active_create %} Create Recipe {% else%} Edit recipe {% endif %} {% endblock %}

{% block content %}

{% load widget_tweaks %}

<div class="main__header">

        {% if active_create %}
            <h1 class="main__title">Create Recipe</h1>
        {% else%}
            <h1 class="main__title">Edit Recipe</h1>
        {% endif %}
</div>

<div class="form-container">
    {% if active_create %}
        <form class="form" action="{% url 'recipes:recipe_create' %}" method="post" enctype="multipart/form-data">
    {% else%}
        <form class="form" action="{% url 'recipes:recipe_edit' recipe_id=recipe.id %}" method="post" enctype="multipart/form-data">
    {% endif %}

        {% csrf_token %}
        <!-- Recipe Name -->
        <div class="form__group">
            <label for="id_name" class="form__label">Recipe title</label>
            <div class="form__field-group">
                {{ form.name|add_class:"form__input" }}
                <span class="form__error"></span>
            </div>
        </div>

        <!-- Recipe Tags -->
        <div class="form__group">
            <p class="form__label">Recipe Type</p>
            <div class="form__field-group">
                <div class="tags">
                    {% for tag in form.fields.tag.choices.queryset  %}
                        <div class="tags__item">
                            <input
                                type="checkbox"
                                name="tag"
                                value ="{{ tag.id }}"
                                id="id_{{ tag.value }}"
                                class="tags__checkbox tags__checkbox_style_{{ tag.color }}">
                            <label for="id_{{ tag.value }}" class="tags__label">{{ tag.name }}</label>
                        </div>
                        {% endfor %}
                </div>
                <span class="form__error"></span>
            </div>
        </div>

        <!-- Recipe Ingredients   -->
        <div class="form__group">
            <label for="nameIngredient" class="form__label">Ingredients</label>
            <div class="form__field-group">
                <div class="form__field-group-ingredientes">
                    <div class="form__dropdown">
                        <input type="text" id="nameIngredient" class="form__input">
                        <div class="form__dropdown-items"></div>
                    </div>
                    <input type="number" id="cantidad" class="form__input" min="1">
                    <label for="cantidad" class="form__label" id="cantidadVal"></label>
                    {% if message %}<div class="non-field-errors" style="color: red">{{ message }}</div>{% endif %}
                </div>
                <div class="form__field-group-ingredientes-container">
                    {% if edit %}
                        {% for ingredient_item in recipe.recipe_ingredient.all %}
                            <div class="form__field-item-ingredient" id="ing_{{ ingredient_item.id }}">
                                <span> {{ ingredient_item.ingredient.name }}</span>
                                <span class="form__field-item-delete"></span>
                                <input id="nameIngredient_{{ ingredient_item.id }}" name="nameIngredient_{{ ingredient_item.id }}" type="hidden" value="{{ ingredient_item.ingredient.name }}">
                                <input id="valueIngredient_{{ ingredient_item.id }}" name="valueIngredient_{{ ingredient_item.id }}" type="hidden" value="{{ ingredient_item.weight }}">
                                <input id="unitsIngredient_{{ ingredient_item.id }}" name="unitsIngredient_{{ ingredient_item.id }}" type="hidden" value="{{ ingredient_item.ingredient.measure }}">
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <span class="form__ingredient-link" id="addIng">Add ingredient</span>
                <span class="form__error">
                {% if form.non_field_errors  %}
                {%  for error in form.non_field_errors %}
                    {% if error == 'Add at least one ingredient' %}
                        <div class="non-field-errors">
                            <p class="form-error">{{ error }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
                {% endif %}
                </span>
            </div>
        </div>

        <!-- Recipe Time -->
        <div class="form__group">
            <label for="id_time" class="form__label">Total cooking time</label>
            <div class="form__field-group form__field-group_time">
                {{ form.cook_time|add_class:"form__input" }}
                <label for="id_time" class="form__label">minutes</label>
                <span class="form__error">{{ form.cook_time.errors }}</span>
            </div>
        </div>

        <!-- Recipe Description -->
        <div class="form__group">
            <label for="id_description" class="form__label">Description</label>
            <div class="form__field-group">
                {{ form.description|add_class:"form__textarea" }}
                <span class="form__error"></span>
            </div>
        </div>

        <!-- Recipe File -->
        <div class="form__group">
            <span class="form__label">Add an image</span>
            <div class="form__field-group">
                {{ form.picture|add_class:"form__file-button" }}
                <span class="form__error"></span>
            </div>
        </div>

        <!-- Recipe Button  -->
        <div class="form__footer">
            {% if active_create %}
                    <button class="button button_style_blue">Add recipe</button>
            {% else%}
                <button class="button button_style_blue">Save</button>
                <a style="margin-left: 2.5em" href="{% url 'recipes:recipe_delete' recipe.id %}" class="form__ingredient-link">Delete</a>
            {% endif %}
        </div>
    </form>
</div>

{% load static %}
<link rel="stylesheet" href="{% static 'pages/form.css' %}">
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/utils/debouncing.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'js/formRecipe.js' %}"></script>

{% endblock %}