{% load recipe_filters %}


<div class="card" data-id="{{ recipe.id }}">
    <a href="{% url 'recipes:recipe_view' recipe.author recipe.id %}" class="link" target="_blank">
        <img src="{{ recipe.picture.url }}" alt="{{ recipe.description }}" class="card__image">
    </a>
    <div class="card__body">
        <a class="card__title link" href="{% url 'recipes:recipe_view' recipe.author recipe.id %}" target="_blank">{{ recipe.name }}</a>

        <ul class="card__items">
            {% for tag in recipe.tag.all %}
                <li class="card__item"><span class="badge badge_style_{{ tag.color }}">{{ tag.name }}</span></li>
            {% endfor %}
        </ul>
        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span> {{ recipe.cook_time }} min</p>

            <p class="card__text">
                <span class="icon-user"></span>
                <a href="{% url 'recipes:profile' recipe.author %}" style="color: black">{{ recipe.author }}</a>
            </p>
        </div>
    </div>

    <div class="card__footer">
        <!-- Проверяем, добавлен ли в шопинг лист данный рецепт -->
        {% if user.is_authenticated %}
            {% if recipe|is_purchase:user %}
                <button class="button button_style_light-blue-outline" name="purchases"><span class="icon-check button__icon"></span> Recipe added </button>
            {% else %}
                <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Add to my shopping list</button>
        {% endif %}

        <!-- Если рецепт в избранном, подсвечиваем звездочку  -->
                <div class="single-card__favorite">
                {% if recipe|is_favorite:user %}
                    <button class="button button_style_none" name="favorites"><span class="icon-favorite icon-favorite_active"></span></button>
                {% else %}
                    <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite"></span></button>
                {% endif %}
                </div>
        {% endif %}
        <!-- !End  -->
    </div>
</div>