<header class="header">
    <nav class="nav">
        <div class="nav__container container">
            <ul class="nav__items list">
                {% if user.is_authenticated %}

                    <li class="nav__item {% if active_index %}nav__item_active{% endif %}"><a href="{% url 'index' %}" class="nav__link link">Recipes</a></li>
                    <li class="nav__item {% if active_follow %}nav__item_active{% endif %}"><a href="{% url 'recipes:follow_index' user.username %}" class="nav__link link">My subscriptions</a></li>
                    <li class="nav__item {% if active_create %}nav__item_active{% endif %}"><a href="{% url 'recipes:recipe_create' %}" class="nav__link link">Create Recipe</a></li>
                    <li class="nav__item {% if active_favorites %}nav__item_active{% endif %}"><a href="{% url 'recipes:favorite_recipes' user.username %}" class="nav__link link">Favorites</a></li>
                    <li class="nav__item {% if active_purchases %}nav__item_active{% endif %}"><a href="{% url 'recipes:purchases_index' %}" class="nav__link link">Shopping list
                        <span class="badge badge_style_blue nav__badge" id="counter">{% if user.purchases.count %}{{ user.purchases.count }}{% endif %}</span></a></li>

                {% else %}
                    <li class="nav__item {% if active_page == 'index' %}nav__item_active{% endif %}"><a href="{% url 'index' %}" class="nav__link link">Recipes</a></li>
                {% endif %}
            </ul>
            <ul class="nav__items list">
                {% if user.is_authenticated %}
                    <li class="nav__item"><a href="{% url 'password_change' %}" class="nav__link link">Change Password</a></li>
                    <li class="nav__item"><a href="{% url 'logout' %}" class="nav__link link">Sign out</a></li>
                {% else %}
                    <li class="nav__item"><a href="{% url 'login' %}" class="nav__link link">Log in</a></li>
                    <li class="nav__item"><a href="{% url 'users:signup' %}" class="button button_style_blue">Create my account</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
