{% extends "base.html" %}
{% block title %} Log in {% endblock %}

{% block content %}

    <div class="main__header">
        <h1 class="main__title">Log In</h1>
    </div>
    <div class="form-container">
        <form class="form" method="post" action="{% url 'login' %}">

            {% csrf_token %}

            <div class="form__group">
                <label for="id_username" class="form__label">Username</label>
                <div class="form__field-group">
                    <input type="text" name="username" id="id_username" class="form__input">
                </div>
            </div>

            <div class="form__group">
                <label for="id_password" class="form__label">Password</label>
                <div class="form__field-group">
                    <input type="password" name="password" id="id_password" class="form__input">
                    <span class="form__error">{{ form.non_field_errors }}</span>
                </div>
            </div>
            <div class="form__footer">
                <button type="submit" class="button button_style_blue">Log in</button>
                <a class="form__forgot-link" href="{% url 'password_reset' %}">Forgot password?</a>
            </div>
        </form>
    </div>

<!-- Загрузка статики -->
{% load static %}
<link rel="stylesheet" href="{% static '/pages/form.css' %}">

{% endblock content %}