{% extends "base.html" %}

{% block title %} Change Password {% endblock %}

{% block content %}

    <div class="main__header">
        <h1 class="main__title">Update your Password</h1>
    </div>

    <div class="form-container">
        <form class="form" method="POST">
            {% csrf_token %}
            <div class="form__group">
                <label for="id_oldPassword" class="form__label">Old password</label>
                <div class="form__field-group">
                    <input type="password" name="old_password" id="id_oldPassword" class="form__input">
                </div>
            </div>

            <div class="form__group">
                <label for="id_newPassword" class="form__label">New password</label>
                <div class="form__field-group">
                    <input type="password" name="new_password" id="id_newPassword" class="form__input">
                    <span class="form__input-info">Your password can’t be too similar to your other personal information.</span>
                    <span class="form__input-info">Your password must contain at least 8 characters.</span>
                    <span class="form__input-info">Your password can’t be a commonly used password.</span>
                    <span class="form__input-info">Your password can’t be entirely numeric.</span>
                    <span class="form__error"></span>
                </div>
            </div>

            <div class="form__group">
                <label for="id_confirmPassword" class="form__label">New password confirmation</label>
                <div class="form__field-group">
                    <input type="password" name="confirm_password" id="id_confirmPassword" class="form__input">
                </div>
            </div>

                <div class="form__footer">
                    <button class="button button_style_blue">Confirm changes</button>
                </div>
        </form>
    </div>


<!-- Загрузка статики -->
{% load static %}
<link rel="stylesheet" href="{% static '/pages/form.css' %}">

{% endblock %}
