{% extends "base.html" %}

{% block title %} Password Reset {% endblock %}

{% block content %}

<div class="main__header">
    <h1 class="main__title">Password Reset</h1>
</div>
<div class="form-container">
    <form class="form">
        {% csrf_token %}
        <p class="form__info-text">
            Enter the email you used to sign up and we will send you a link to reset it.
        </p>
        <div class="form__group">
            <label for="id_email" class="form__label">E-mail address</label>
            <div class="form__field-group">
                <input type="email" name="email" id="id_email" class="form__input">
                <span class="form__error"></span>
            </div>
        </div>

       <div class="form__footer">
           <button class="button button_style_blue">Password Reset</button>
       </div>
    </form>
</div>


<!-- Загрузка статики -->
{% load static %}
<link rel="stylesheet" href="{% static '/pages/form.css' %}">

{% endblock %}