{% extends "base.html" %}
{% block title %} Recipes {% endblock %}
{% block content %}
{% load recipe_filters %}
        <!-- Хедер с названием  -->
        <div class="main__header">
            <h1 class="main__title">Recipes</h1>
            <!-- Теги фильтра Завтрак, Обед, Ужин -->
            <ul class="tags">
                {% for tag in recipe_types %}
                    <li class="tags__item">
                        <a id="{{type.type_name}}"
                           class="tags__checkbox tags__checkbox_style_{{tag.color}}
                           {% if tag.type_name in request.GET|get_filter_values %} tags__checkbox_active {% endif %}"
                           href="?{{ request|get_filter_link:tag }}"></a>
                        <span class="tags__label">{{ tag.type_name }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <!-- Рецепты разматываем в цикл из БД -->
        <div class="card-list">
           <!-- Вывод ленты рецептов -->
            {% for recipe in page %}
                {% include "recipe_item.html" with recipe=recipe %}
            {% endfor %}
        </div>

        {% if page.has_other_pages %}
        {% include "paginator.html" with items=page paginator=paginator %}
        {% endif %}
     <!-- Загрузка статики -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'pages/index.css' %}">
        <script src="{% static 'js/config/config.js' %}"></script>
        <script src="{% static 'js/api/Api.js' %}"></script>
        <script src="{% static 'js/components/MainCards.js' %}"></script>
        <script src="{% static 'js/components/Purchases.js' %}"></script>
        <script src="{% static 'js/components/CardList.js' %}"></script>
        <script src="{% static 'js/components/Header.js' %}"></script>
        {% if user.is_authenticated %}
            <script src="{% static 'js/components/Favorites.js' %}"></script>
            <script src="{% static 'js/indexAuth.js' %}"></script>
        {% else %}
            <script src="{% static 'js/indexNotAuth.js' %}"></script>
        {% endif %}

{% endblock %}

