{% extends "base.html" %}
{% block title %} favorite {% endblock %}

{% block content %}
{% load recipe_filters %}
{% csrf_token %}

<!-- Хедер с названием  -->
 <div class="main__header">
    <h1 class="main__title">My Favorite Recipes</h1>

     <!-- Теги фильтра Завтрак, Обед, Ужин -->
    <ul class="tags">
        {% for tag in recipe_types %}
            <li class="tags__item">
                <a id="{{type.type_name}}"
                   class="tags__checkbox tags__checkbox_style_{{tag.color}}
                   {% if tag.type_name in request.GET|get_filter_values %} tags__checkbox_active {% endif %}"
                   href="?{{ request|get_filter_link:tag }}"></a>
                <span class="tags__label">{{ tag.type_name }}</span>
            </li>
        {% endfor %}
    </ul>
</div>

<div class="card-list">
    {% for recipe in page%}
        <div class="card" data-id="{{ recipe.id }}">
            <a href="{% url 'recipes:recipe_view' recipe.author recipe.id%}" class="link" target="_blank"><img src="/media/{{recipe.picture}}" alt="{{ recipe.description }}" class="card__image"></a>
    <div class="card__body">
        <a class="card__title link" href="#" target="_blank">{{ recipe.name }}</a>
        <!-- Теги завтрак, обед, ужин -->
        <ul class="card__items">
            {% for tag in recipe.type.all %}
                <li class="card__item"><span class="badge badge_style_{{ tag.color }}">{{ tag.type_name }}</span></li>
            {% endfor %}
        <!-- !End  -->
        </ul>

        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span>{{ recipe.cook_time }} minutes</p>
            <p class="card__text"><span class="icon-user"></span>{{ recipe.author}}</p>
        </div>
    </div>
    <div class="card__footer">
            {% if user.is_authenticated %}
                {% if recipe|is_purchase:user %}
                <button class="button button_style_light-blue-outline" name="purchases"><span class="icon-check button__icon"></span>Recipe added</button>
                {% else %}
                <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Add to my shopping list</button>
            {% endif %}

            {% if recipe|is_favorite:user %}
                <button class="button button_style_none" name="favorites"><span class="icon-favorite icon-favorite_active"></span></button>
                {% else %}
                <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite"></span></button>
                {% endif %}
            {% endif %}
    </div>
</div>

{% endfor %}
</div>

        <!-- Вывод паджинатора -->
        {% if page.has_other_pages %}
            {% include "paginator.html" with items=page paginator=paginator%}
        {% endif %}

<!-- Загрузка статики -->
{% load static %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/MainCards.js' %}"></script>
    <script src="{% static 'js/components/Purchases.js' %}"></script>
    <script src="{% static 'js/components/Favorites.js' %}"></script>
    <script src="{% static 'js/components/CardList.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'js/favorite.js' %}"></script>

{% endblock %}