{% extends "base.html" %}
{% block title %} recipe view {% endblock %}
{% load static %}
{% block content %}

{% load recipe_filters %}

<div class="single-card" data-id="{{ recipe.id }}" data-author="{{ author.id }}">
    {% load thumbnail %}
    {% if not recipe.picture %}
    <img src="/static/images/NoImage.jpg" alt="{{ recipe.description }}" class="single-card__image">
    {% else %}
        {% thumbnail recipe.picture "480x480" crop="center" upscale=True as im %}
            <img class="single-card__image" src="{{im.url}}" alt="{{ recipe.name }}" width="480" height="480">
        {% endthumbnail %}
    {% endif %}
    <div class="single-card__info">
        {% if user.is_authenticated %}
            <div class="single-card__header-info">
                <h1 class="single-card__title">{{ recipe.name }}</h1>

                <div class="single-card__favorite">
            {% if recipe|is_favorite:user %}
                <button class="button button_style_none" name="favorites"><span class="icon-favorite  icon-favorite_active"></span></button>
            {% else %}
                <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite "></span></button>
            {% endif %}

                </div>
            </div>
        {% endif %}
        <!-- Теги фильтра Завтрак, Обед, Ужин -->
        <div class="card__body">
            <ul class="card__items">
                {% for tag in recipe.type.all %}
                    <li class="card__item"><span class="badge badge_style_{{ tag.color }}">{{ tag.type_name }}</span></li>
                {% endfor %}
            </ul>
        </div>

        <div class="single-card__items single-card__items_column">
            <p class="single-card__text"><span class="icon-time"></span>{{ recipe.cook_time }} minutes</p>

            <ul class="single-card__items">
                <li class="single-card__item"><p class="single-card__text"><span class="icon-user"></span>{{ recipe.author}}</p></li>
                {% if recipe.author == user %}
                <li class="single-card__item">  <a style="margin-left: 2.5em" href="{% url 'recipes:recipe_edit' recipe_id=recipe.id %}" class="single-card__text">Edit recipe</a></li>
                {% endif %}
            </ul>
        </div>
        <ul class="single-card__items">
            {% if user.is_authenticated %}
                <li class="single-card__item"><button class="button button_style_blue" name="purchases" data-out><span class="icon-plus"></span> Add to my shopping list</button></li>
            {% endif %}

            {% if user != recipe.author %}
                {% if user.is_authenticated %}
                    {% if following %}
                        <button class="button button_style_light-blue button_size" name="subscribe"><span class="icon-check button__icon"></span>Unfollow</button>
                    {% else %}
                        <button class="button button_style_light-blue button_size" name="subscribe" data-out>Follow</button>
                    {% endif %}
                {% endif %}
            {% endif %}
        </ul>
        <div class="single-card__section">
            <h3 class="single-card__section-title">Ingredients:</h3>
            <div class="single-card__items single-card__items_column">
                <p class=" single-card__section-item">Яйцо - 2 шт.</p>
                <p class=" single-card__section-item">Молоко - 200 мл.</p>
            </div>
        </div>
        <div class="single-card__section">
            <h3 class="single-card__section-title">Description:</h3>
            <p class=" single-card__section-text">{{ recipe.description|linebreaksbr }}</p>
        </div>
    </div>
</div>


{% endblock content %}

{% block js %}
    {% load static %}
        <link rel="stylesheet" href="{% static 'pages/single.css' %}">

        <script src="{% static 'js/config/config.js' %}"></script>
        <script src="{% static 'js/api/Api.js' %}"></script>
        <script src="{% static 'js/components/Purchases.js' %}"></script>
        <script src="{% static 'js/components/MainCards.js' %}"></script>
        <script src="{% static 'js/components/SingleCard.js' %}"></script>
        <script src="{% static 'js/components/Header.js' %}"></script>
        {% if user.is_authenticated %}
            <script src="{% static 'js/components/Favorites.js' %}"></script>
            <script src="{% static 'js/components/Subscribe.js' %}"></script>
            <script src="{% static 'js/singlePage.js' %}"></script>
        {% else %}
            <script src="{% static 'js/singlePageNotAuth.js' %}"></script>
        {% endif %}

{% endblock js %}